@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

html,
body,
header,
main,
nav,
section,
article,
h1,
h2,
h3,
div,
p,
ul,
li,
img,
video,
button,
a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html,
body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

header,
main,
nav,
section,
article,
button,
a {
  display: block;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img,
video {
  display: block;
  width: 100%;
}
