@use '@/styles/variable' as *;

.hero_wrapper {
  padding-top: 184px;

  @media screen and (min-width: $pc-breakpoint) {
    max-width: $pc-max-width;
    margin: 0 auto;
  }

  .text1 {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    p {
      font-size: 12px;
      font-weight: 700;
      color: #000;
      padding: 14px 22px;
      background-color: #dfecc6;
      border-radius: 50px;

      @media screen and (min-width: $pc-breakpoint) {
        font-size: 14px;
      }
    }
  }

  h2 {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: $pc-breakpoint) {
      font-size: 48px;
    }
  }

  h3 {
    font-size: 14px;
    color: #6f6f6f;
    text-align: center;
    margin-bottom: 40px;

    @media screen and (min-width: $pc-breakpoint) {
      font-size: 18px;
      margin-bottom: 100px;
    }
  }

  .phone_wrapper {
    position: relative;
    overflow: hidden;

    .iphone {
      width: 270px;
      height: 473px;
      margin: 0 auto;

      @media screen and (min-width: $pc-breakpoint) {
        display: none;
      }
    }

    .ipad {
      display: none;

      @media screen and (min-width: $pc-breakpoint) {
        display: block;
        width: 907px;
        height: 644px;
        margin: 0 auto;
      }
    }

    .dim {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 29.53%,
        rgba(255, 255, 255, 0.5) 55.93%,
        #ffffff 77.25%
      );

      @media screen and (min-width: $pc-breakpoint) {
        top: 0;
      }
    }
  }
}
