@use '@/styles/variable' as *;

.image_slide_wrapper {
  padding-block: 80px;
  background-color: #dfecc6;

  .image_slide_content {
    @media screen and (min-width: $pc-breakpoint) {
      max-width: $pc-max-width;
      margin: 0 auto;
    }

    h2 {
      font-size: 28px;
      font-weight: 700;
      color: #485c11;
      text-align: center;
      margin-bottom: 24px;

      @media screen and (min-width: $pc-breakpoint) {
        font-size: 48px;
      }
    }

    h3 {
      font-size: 14px;
      color: #485c11;
      text-align: center;
      margin-bottom: 40px;

      @media screen and (min-width: $pc-breakpoint) {
        font-size: 18px;
        margin-bottom: 80px;
      }
    }

    .image_swiper {
      :global {
        .swiper-wrapper {
          align-items: stretch;
          height: auto;
          margin-bottom: 40px;

          .swiper-slide {
            width: 230px;
            height: auto;
            border-radius: 20px;
            overflow: hidden;

            @media screen and (min-width: $pc-breakpoint) {
              width: 460px;
            }

            > div {
              height: 100%;
              padding: 18px;
              background-color: #fff;

              @media screen and (min-width: $pc-breakpoint) {
                padding: 35px;
              }

              > p {
                text-align: center;

                &:nth-of-type(1) {
                  font-size: 15px;
                  color: #485c11;
                  margin-bottom: 4px;

                  @media screen and (min-width: $pc-breakpoint) {
                    font-size: 22px;
                    margin-bottom: 8px;
                  }
                }

                &:nth-of-type(2) {
                  font-size: 14px;
                  color: #6f6f6f;

                  @media screen and (min-width: $pc-breakpoint) {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }

        .swiper-pagination {
          position: relative;
          top: unset;
          bottom: unset;
          display: flex;
          justify-content: center;
          gap: 8px;

          .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            margin: 0;
            opacity: 1;
            background-color: transparent;
            border: 1px solid #485c11;

            &.swiper-pagination-bullet-active {
              background-color: #485c11;
            }
          }
        }
      }
    }
  }
}
