@use '@/styles/variable' as *;

.image_tab_wrapper {
  padding-block: 120px 80px;

  @media screen and (min-width: $pc-breakpoint) {
    max-width: $pc-max-width;
    margin: 0 auto;
  }

  h2 {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: $pc-breakpoint) {
      font-size: 48px;
    }
  }

  h3 {
    font-size: 14px;
    color: #6f6f6f;
    text-align: center;
    margin-bottom: 40px;

    @media screen and (min-width: $pc-breakpoint) {
      font-size: 18px;
      margin-bottom: 80px;
    }
  }

  .tab_content {
    .tab_title_list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-inline: 20px;
      border-bottom: 1px solid #929292;
      margin-bottom: 40px;

      @media screen and (min-width: $pc-breakpoint) {
        padding-inline: 45px;
        max-width: 702px;
        margin: 0 auto 80px;
      }

      li {
        text-align: center;
        cursor: pointer;
      }

      p {
        font-size: 15px;
        font-weight: 700;
        color: #929292;
        padding-block: 14px;

        @media screen and (min-width: $pc-breakpoint) {
          font-size: 22px;
          padding-block: 22px;
        }
      }

      .active {
        color: #485c11;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: #485c11;
          border-radius: 10px;

          @media screen and (min-width: $pc-breakpoint) {
            height: 4px;
          }
        }
      }
    }

    .tab_img_list {
      padding-inline: 20px;

      @media screen and (min-width: $pc-breakpoint) {
        padding-inline: 0;
        max-width: 892px;
        margin: 0 auto;
      }

      li {
        &.show {
          display: block;
        }

        &.hide {
          display: none;
        }
      }
    }
  }
}
