@use '@/styles/variable' as *;

.video_wrapper {
  padding-inline: 16px;

  @media screen and (min-width: $pc-breakpoint) {
    padding-inline: 0;
    max-width: $pc-max-width;
    margin: 0 auto;
  }

  h2 {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: $pc-breakpoint) {
      font-size: 48px;
    }
  }

  h3 {
    font-size: 14px;
    color: #6f6f6f;
    text-align: center;
    margin-bottom: 40px;

    @media screen and (min-width: $pc-breakpoint) {
      font-size: 18px;
      margin-bottom: 80px;
    }
  }

  .video_container {
    max-width: 892px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
  }
}
